
:root{
    --color-acento: #ee6130;
    --color-acento-claro: #ee613033;
    --color-texto: black;
  }
  
  body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  h3, p{
    margin: 5px;
  }
  
  .escondido{
    display: none;
  }
  
  a{
    background-color: unset;
    border:unset;
    cursor:pointer;
    text-decoration: none;
    transition: 200ms;
    color: var(--color-texto);
  }
  
  button{
    transition: 200ms;
  }
  
  a:hover:not(#cart), button:hover{
    color: var(--color-acento);
  }
  
  /* Header */
  header{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.09);
    margin-bottom: 20px;
    font-size: larger;
    height: 100px; /* Ajusta la altura */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea el contenido verticalmente */
  }
  .dinero {
    color: #000; /* Color negro */
    font-weight: bold; /* Texto en negrita */
    font-size: 1.5em; /* Tamaño de fuente más grande para destacar */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra para hacerlo más llamativo */
  }
  
  
  header nav{
    margin: 0 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Asegura que los elementos dentro también estén centrados */
  }
  
  #logo{
    height: 90px; /* Aumenta el tamaño del logo */
    width: 120px;
    border-radius: 16px;
    border: 2px solid #333; /* Borde del logo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
    background-color: #fff; /* Color de fondo, puedes cambiarlo según el diseño del logo */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header nav div{
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  header nav img{
    height: 25px;
  }
  
  #cuenta-carrito{
    position: absolute;
    background-color: var(--color-acento);
    border-radius: 100%;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    aspect-ratio: 1;
    text-align: center;
    /* margin-bottom: 15px; */
  }
  
  footer{
    text-align: center;
    box-shadow: -1px -3px 5px rgba(0, 0, 0, 0.09);
    padding-top: 2px;
    margin-top: auto;
  }
  
  footer a{
    text-decoration: underline;
  }

